header{
    background-color: #BBBBBB;
    padding: 0 20;
}

.caja{
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.logo {
    width: 120px;
    height: 100%;
    margin-bottom: -90px;
    position: relative;
    left: 10px;
}

nav{
    overflow: auto;
    position: absolute;
    top:40%;
    right: 0;
}

nav li{
    display: inline;
    padding: 0 0 0 25px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color: white;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding-top: 100px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.productos li:hover{
    border-color: #BBBBBB;
}

.productos li:active{
    border-color: #c78c19;
}

.productos img{
    width: 90%;
    height: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descrip{
    font-size: 22px;  
}

.producto-precio{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #BBBBBB;
    background: url(images/bg.jpg);
    
    padding: 7px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

footer img{
    width: 45px;
    height: 100%;
}

footer img, footer p{
    display: inline-block;
    vertical-align: middle;
}